<div class="app-status-effects-wrapper gd-layout-wrapper">
  <div class="status-effects-list gd-object-wrapper">
    <div class="paper">
      <ul class="status-effects gd-scrollable-list">
        <li *ngFor="let statusEffect of statusEffects" (click)="onSelect(statusEffect)" [class.selected]="statusEffect === selectedStatusEffect">{{statusEffect.DebugName}}</li>
      </ul>
    </div>
  </div>
  <div class="gd-scrolling-wrapper">
    <div class="gd-status-effect-detail-outer gd-object-wrapper">
      <app-statuseffect-detail class="paper rotated01" [statusEffect]="selectedStatusEffect"></app-statuseffect-detail>
    </div>
  </div>
</div>