<div class="progression-table-detail-container gd-object-wrapper">
	<div class="paper">
		<div class="gd-form-container gd-scrollable-list">
			<form [formGroup]="ptForm" class="gd-form" (ngSubmit)="onSubmit()">
				<div *ngIf="progressionTable" class="gd-progression-table-detail">
					<div class="heading-controls">
						<h2>Progression Table</h2> <button type="submit" [disabled]="ptForm.pristine">Save Changes</button>	
					</div>
					<div class="form-group">
						<ul>
							<li><label class="gd-key"><span>ID:</span> <input class="gd-value gd-string gd-string-long" formControlName="ID" spellcheck="false"/></label></li>
							<li><label class="gd-key"><span>DebugName:</span> <input class="gd-value gd-string gd-string-long" formControlName="DebugName" spellcheck="false"/></label></li>
						</ul>
					</div>
					<div formArrayName="AbilityUnlocks" class="dropdown-container">
						<h3>Abilities List</h3>
						<select #thisSelect class="abilities" (change)="selectAbility(thisSelect.value)">
							<option disabled>Select Ability</option>
							<option *ngFor="let ability of ptForm.value.AbilityUnlocks; let i=index;" [value]="ability.AddAbilityID">{{ ability.Note }}</option>
						</select>
					</div>
					<div formArrayName="AbilityUnlocks" class="ability-list">
						<div *ngFor="let ability of AbilityUnlocks.controls; let i=index;" [formGroupName]="i" >
							<div *ngIf="ability.controls.AddAbilityID.value === selectedAbility.ID" class="selected-ability-progression-table-data">
								<p>{{ ability.controls.Note.value }}</p>
								<ul>
									<li><label class="gd-key"><span>Ability Name:</span> <input class="gd-value" formControlName="Note" spellcheck="false" /></label></li>
									<li><label class="gd-key"><span>Category:</span> <input class="gd-value" formControlName="Category" spellcheck="false" /></label></li>
									<li><label class="gd-key"><span>Unlock Style:</span> <input class="gd-value" formControlName="UnlockStyle" spellcheck="false" /></label></li>
									<li><label class="gd-key"><span>Activation Object:</span> <input class="gd-value" formControlName="ActivationObject" spellcheck="false" /></label></li>
									<li><label class="gd-key"><span>Add Ability ID:</span> <input class="gd-value" formControlName="AddAbilityID" spellcheck="false" /></label></li>
									<li><label class="gd-key"><span>Remove Ability ID:</span> <input class="gd-value" formControlName="RemoveAbilityID" spellcheck="false" /></label></li>
									<li formGroupName="Prerequisites"><label class="gd-key"><span>Min Character Level:</span> <input class="gd-value" formControlName="MinimumCharacterLevel" spellcheck="false" /></label></li>
									<li formGroupName="Prerequisites"><label class="gd-key"><span>Min Power Level:</span> <span formGroupName="PowerLevelRequirement"><input class="gd-value" formControlName="MinimumPowerLevel" spellcheck="false" /></span></label></li>
									<li formGroupName="Prerequisites"><label class="gd-key"><span>Class Requirement:</span> <span formGroupName="PowerLevelRequirement"><input class="gd-value" formControlName="Class" spellcheck="false" /></span></label></li>
									<li formGroupName="Prerequisites"><label class="gd-key"><span>RequiresAbility ID:</span> <input class="gd-value" formControlName="RequiresAbilityID" /></label></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>
<div *ngIf="selectedAbility.ID" class="gd-ability-detail-outer gd-object-wrapper">
	<app-ability-detail class="paper rotated01" (attackIDPresent)="goToAttack($event)" (statusEffectIDPresent)="goToStatusEffect($event)" [ability]="selectedAbility"></app-ability-detail>
</div>
<div *ngIf="selectedAttack.ID" class="gd-attack-detail-outer gd-object-wrapper">
	<app-attack-detail class="paper rotated01" (statusEffectIDPresent)="goToStatusEffect($event)" [attack]="selectedAttack"></app-attack-detail>
</div>
<div *ngIf="selectedStatusEffect.ID" class="gd-status-effect-detail-outer gd-object-wrapper">
	<app-statuseffect-detail class="paper rotated01" [statusEffect]="selectedStatusEffect"></app-statuseffect-detail>
</div>