.progression-table-detail-container {
  width: 25vw;
  display: flex;
  flex-wrap: wrap;
  flex: 0 0 auto;
  margin: 0 .5vw;
}

.gd-progression-table-detail .ability-list {
  height: 40vh;
}

.progression-table-form {
  display: flex;

  ul {
    list-style-type: none;
    padding: 0;
  }
}