<div class="app-characters-wrapper gd-layout-wrapper">
	<div class="characters-list gd-object-wrapper">
		<div class="paper">
			<ul class="characters gd-scrollable-list">
				<li *ngFor="let character of characters" (click)="onSelect(character)" [class.selected]="character === selectedCharacter">{{character.DebugName}}</li>
			</ul>
		</div>
	</div>
	<div class="gd-scrolling-wrapper">
		<app-character-detail  [character]="selectedCharacter"></app-character-detail>
	</div>
</div>