<div class="app-progression-tables-wrapper gd-layout-wrapper">
	<div class="progression-tables-list gd-object-wrapper">
		<div class="paper">
			<ul class="progression-tables gd-scrollable-list">
				<li *ngFor="let progressionTable of progressionTables" (click)="onSelect(progressionTable)" [class.selected]="progressionTable === selectedProgressionTable">{{progressionTable.DebugName}}</li>
			</ul>
		</div>
	</div>
	<div class="gd-scrolling-wrapper">
		<div class="gd-progression-table-detail-outer">
			<app-progression-table-detail [progressionTable]="selectedProgressionTable"></app-progression-table-detail>
		</div>
	</div>
</div>
