<div class="character-detail-container gd-object-wrapper">
	<div class="paper rotated01">
		<div class="gd-form-container gd-scrollable-list">
				<form [formGroup]="characterForm" class="gd-form" (ngSubmit)="onSubmit()">
					<div *ngIf="character" class="gd-character-detail">
						<div class="heading-controls">
							<h2>Creature Details</h2> <button type="submit" [disabled]="characterForm.pristine">Save Changes </button>
						</div>
						<ul>
							<li><label class="gd-key"><span>ID: </span><input class="gd-value gd-string gd-string-long" formControlName="ID" spellcheck="false" /></label></li>
							<li><label class="gd-key"><span>Debug Name: </span><input class="gd-value gd-string gd-string-long" formControlName="DebugName" spellcheck="false" /></label></li>
							<li><label class="gd-key"><span>Display Name: </span><input class="gd-value gd-numeric" formControlName="DisplayName" /></label></li>
							<li><label class="gd-key"><span>Gender: </span>
									<select class="gd-value" formControlName="Gender">
										<option value="Male">Male</option>
										<option value="Female">Female</option>
										<option value="Neuter">Neuter</option>
									</select>
								</label>
							</li>
							<li><label class="gd-key"><span>Character Progression Table ID: </span><input class="gd-value gd-string gd-string-long" formControlName="CharacterProgressionTableID" spellcheck="false" /> <button type="button" [disabled]="!isIDFieldValid(characterForm.value.CharacterProgressionTableID)" (click)="goToProgressionTable(characterForm.value.CharacterProgressionTableID)">GoTo</button></label></li>
							<li><label class="gd-key"><span>Base Class Level: </span><input class="gd-value gd-numeric" formControlName="BaseClassLevel" /></label></li>
							<li><label class="gd-key"><span>Base Might: </span><input class="gd-value gd-numeric" formControlName="BaseMight" /></label></li>
							<li><label class="gd-key"><span>Base Constitution: </span><input class="gd-value gd-numeric" formControlName="BaseConstitution" /></label></li>
							<li><label class="gd-key"><span>Base Dexterity: </span><input class="gd-value gd-numeric" formControlName="BaseDexterity" /></label></li>
							<li><label class="gd-key"><span>Base Perception: </span><input class="gd-value gd-numeric" formControlName="BasePerception" /></label></li>
							<li><label class="gd-key"><span>Base Intellect: </span><input class="gd-value gd-numeric" formControlName="BaseIntellect" /></label></li>
							<li><label class="gd-key"><span>Base Resolve: </span><input class="gd-value gd-numeric" formControlName="BaseResolve" /></label></li>
							<li>
								<label class="gd-key"><span>Immune To Engagement:</span>
									<select class="gd-value" formControlName="ImmuneToEngagement">
										<option value="true">Yes</option>
										<option value="false">No</option>
									</select>
								</label>
							</li>
							<li><label class="gd-key"><span>Immune To Attacks:</span> 
									<select class="gd-value" formControlName="ImmuneToAttacks">
										<option value="true">Yes</option>
										<option value="false">No</option>
									</select>
								</label>
							</li>
							<li><label class="gd-key"><span>Max Engageable Enemies: </span><input class="gd-value gd-numeric" formControlName="StartingMaxEngageableEnemyCount" /></label></li>
							<li><label class="gd-key"><span>Attack Speed Multiplier: </span><input class="gd-value gd-numeric" formControlName="StartingAttackSpeedMultiplier" /></label></li>
							<li><label class="gd-key"><span>RateOf Fire Multiplier: </span><input class="gd-value gd-numeric" formControlName="StartingRateOfFireMultiplier" /></label></li>
							<li><label class="gd-key"><span>Reload Time Multiplier: </span><input class="gd-value gd-numeric" formControlName="StartingReloadTimeMultiplier" /></label></li>
							<li><label class="gd-key"><span>Min Level Adjustment: </span><input class="gd-value gd-numeric" formControlName="MinLevelAdjustment" /></label></li>
							<li><label class="gd-key"><span>Max Level Adjustment: </span><input class="gd-value gd-numeric" formControlName="MaxLevelAdjustment" /></label></li>
						</ul>
					</div>
				</form>
		
				<form [formGroup]="baseStatsForm" class="gd-form" (ngSubmit)="onSubmitBaseStats()">
					<div *ngIf="baseStats.ID" class="gd-base-stats-detail">
						<div class="heading-controls">
							<h2>Base Stats</h2><button type="submit" [disabled]="baseStatsForm.pristine">Save Changes</button>
						</div>
						<ul>
							<li><label class="gd-key"><span>ID:</span> <input class="gd-value gd-string gd-string-long" formControlName="ID" spellcheck="false" /></label></li>
							<li><label class="gd-key"><span>Debug Name: </span><input class="gd-value gd-string gd-string-long" formControlName="DebugName" spellcheck="false" /></label></li>
							<li><label class="gd-key"><span>Deflection: </span><input class="gd-value gd-numeric" formControlName="BaseDeflection" /></label></li>
							<li><label class="gd-key"><span>Fortitude: </span><input class="gd-value gd-numeric" formControlName="BaseReflexes" /></label></li>
							<li><label class="gd-key"><span>Will: </span><input class="gd-value gd-numeric" formControlName="BaseWill" /></label></li>
							<li><label class="gd-key"><span>Melee Accuracy: </span><input class="gd-value gd-numeric" formControlName="MeleeAccuracyBonus" /></label></li>
							<li><label class="gd-key"><span>Ranged Accuracy: </span><input class="gd-value gd-numeric" formControlName="RangedAccuracyBonus" /></label></li>
							<li><label class="gd-key"><span>Health: </span><input class="gd-value gd-numeric" formControlName="MaxHealth" /></label></li>
							<li><label class="gd-key"><span>Health Per Level: </span><input class="gd-value gd-numeric" formControlName="HealthPerLevel" /></label></li>
						</ul>
					</div>
				</form>
			</div>
	</div>
</div>
<div class="progression-table-outer" *ngIf="selectedProgressionTable.ID">
	<app-progression-table-detail [progressionTable]="selectedProgressionTable"></app-progression-table-detail>
</div>