<div class="actions-container">
  <button type="button" (click)="goToListItemObject($event)">GoTo</button>
  <button type="button" (click)="addNewObjectToCollection($event)">Add Status Effect</button>
  <button type="button" (click)="deleteConfirmation($event)">Delete</button>
  <div *ngIf="isConfirmationVisible" class="dialog-container">
    <span>Are you sure?</span>
    <button (click)="deleteObject($event)">Yes</button>
    <button type="button" (click)="cancelDelete($event)">No</button>
  </div>
</div>