<div class="app-attacks-wrapper gd-layout-wrapper">
  <div class="attacks-list gd-object-wrapper">
    <div class="paper">
      <ul class="attacks gd-scrollable-list">
        <li *ngFor="let attack of attacks" (click)="onSelect(attack)" [class.selected]="attack === selectedAttack">{{attack.DebugName}}</li>
      </ul>
    </div>
  </div>
  <div class="gd-scrolling-wrapper">
    <div class="gd-attack-detail-outer gd-object-wrapper">
      <app-attack-detail class="paper rotated01" (statusEffectIDPresent)="goToStatusEffect($event)" [attack]="selectedAttack"></app-attack-detail>
    </div>
    <div *ngIf="selectedStatusEffect.ID" class="gd-status-effect-detail-outer gd-object-wrapper">
      <app-statuseffect-detail class="paper rotated01" [statusEffect]="selectedStatusEffect"></app-statuseffect-detail>
    </div>
  </div>
</div>