.uploader-container {
  display: flex;
  flex-wrap: wrap;
  width: 80vw;
  background: rgba(36, 185, 220, 0.35);
  color: #fff;
  padding: 1vw;
  height: 60vh;
  margin: 0 auto;
  justify-content: center;
  align-content: center;

  .upload-type-container {
    width: 10vw;
    margin: 1vw;
  }

  h2 {
    color: #ffffff;
    text-shadow: 0 0 3px #ffffff;
  }
}

#progress-bar-container {
  margin: 0 auto;
}