<div class="uploader-container">
  <div class="upload-type-container">
    <h2>Characters Gamedatabundle</h2>
    <input type="file" id="characters" #characters (click)="message=''" (change)="fileInputChange(characters, uploadProgressBar)" />
  </div>

  <div class="upload-type-container">
    <h2>Progression Tables Gamedatabundle</h2>
    <input type="file" id="progression-tables" #progressionTables (click)="message=''" (change)="fileInputChange(progressionTables, uploadProgressBar)" />
  </div>

  <div class="upload-type-container">
    <h2>Abilities Gamedatabundle</h2>
    <input type="file" id="abilities" #abilities (click)="message=''" (change)="fileInputChange(abilities, uploadProgressBar)" />
  </div>

  <div class="upload-type-container">
    <h2>Attacks Gamedatabundle</h2>
    <input type="file" id="attacks" #attacks (click)="message=''" (change)="fileInputChange(attacks, uploadProgressBar)" />
  </div>

  <div class="upload-type-container">
    <h2>Status Effects Gamedatabundle</h2>
    <input type="file" id="status-effects" #statusEffects (click)="message=''" (change)="fileInputChange(statusEffects, uploadProgressBar)" />
  </div>
</div>
<div id="progress-bar-container"><div class="percent" #uploadProgressBar>0%</div></div>  

