<div class="messages-container" *ngIf="messageService.messages.length">
	<collapsible-list [type]="'accordion'">
		<collapsible-list-item *ngIf="messageService.messages.length">
		  
			<collapsible-header class="waves-effect">
				<div class="heading-controls"><h2>Toggle Message Log</h2><button type="button" class="clear" (click)="messageService.clear()">Clear</button></div>
			</collapsible-header>

			<collapsible-body [expanded]="false">
			<div class="message" *ngFor="let message of messageService.messages">{{message}}</div>
			</collapsible-body>

		</collapsible-list-item>
	  </collapsible-list>
</div>