h2 {
    color: red;
    font-weight: lighter;
    font-size: .8rem;
}

button.clear {
    color: #ffdf47;
    background-color: #402515;
    border: none;
    padding: 2px 5px;
    border-radius: 4px;
    cursor: pointer;
    cursor: hand;
    margin: .5rem 0;
}

button:hover {
    text-shadow: 0 0 3px #ffdf47;
    background-color: #402515;
}

button:disabled {
    background-color: #eee;
    color: #aaa;
    cursor: auto;
}

.messages-container {
    width: 50vw;
    position: fixed;
    bottom: 0;
    right: 0;

    .heading-controls {
        display: flex;
        justify-content: space-between;
        h2 {
            display: inline;
        }
    }

    collapsible-list {
        border: 0 none;
    }

    collapsible-header {
        min-height: 1rem;
        line-height: 1rem;
        background-color: #0000008f;
        border: 0 none;
    }

    collapsible-body {
        background-color: #0000008f;
        color: #ffdf47;
        box-shadow: rgb(44, 92, 109) 0px 4px 4px -2px inset, rgb(44, 92, 109) 0px -3px 2px -1px inset !important;
        border-bottom: 0 none;
    }

    .emitter-name {
        color: #ffdf47;
    }
}