.coming-soon-wrapper {
    background: linear-gradient(to bottom, #000d2f 42%,#00346d 54%,#d8cfbe 94%,#d8cfbe 100%);
    background-size: 400% 400%;
    width: 100vw;
    height: 100vh;

    animation: sunset 10s ease 1 forwards;
}

// Intro and heading

.sky, .twinkling, .twinkling-parent-fade-in, #main-heading {
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
}

#main-heading {
    background: url(../../../assets/images/spiritual-successor.png) no-repeat;
    background-size: contain;
    text-indent: -9999em;
    width: 768px;
    height: 256px;
    display: block;
    margin: 0 auto;
    top: 5vh;
    padding: 0;

    animation: headingFadeIn 10s ease 1 forwards, headingSlideIn 10s ease 1 forwards;

    @keyframes headingFadeIn { 
        0%{opacity:0;}
        80%{opacity:0;}
        100%{opacity: 1;}
    }

    @keyframes headingSlideIn { 
        0%{top:2vh;}
        80%{top:2vh;}
        100%{top:5vh;}
    }
}

.sky {
    width: 100vw;
    height: 100vh;
    background: url(../../../assets/images/sky.png) repeat;
    opacity: 0;
    
    animation: skyFadeIn 10s ease 1 forwards;

    @keyframes skyFadeIn { 
        0%{opacity:0; background-position:0% 100%}
        7%{opacity:0}
        100%{opacity: 1; background-position:0% 0%}
    }
}

.twinkling{
    background: transparent url(../../../assets/images/twinkling.png) repeat top center;
    width: 100vw;
    height: 100vh;
    z-index:1;

    animation:move-twink-back 200s linear infinite;

    @keyframes move-twink-back {
        from {background-position:0 0;}
        to {background-position:-10000px 5000px;}
    }
}

.twinkling-parent-fade-in {
    width: 100vw;
    height: 100vh;
    animation: twinkling-fade-in 11s ease 1 forwards;

    @keyframes twinkling-fade-in { 
        0%{opacity: 0}
        50%{opacity: 0}
        100%{opacity:1}
    }
}

@keyframes sunset { 
    0%{background-position:0% 100%}
    25%{background-position:0% 80%}
    100%{background-position:0% 0%}
}

.countdown {
    position: relative;
    top: 33vh;
    text-align: center;
    h2, p {
        color: #000f2e;
        //text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #fff4cd, 0 0 35px #fff4cd, 0 0 40px #fff4cd, 0 0 50px #fff4cd, 0 0 75px #fff4cd;
        text-shadow: 0 0 5px #fff4cd, 0 0 10px #fff4cd, 0 0 15px #fff4cd;
    }

    h2 {
        margin: 0 0 .5em;
    }

    p {
        margin: 0;
    }

    animation: countDownFadeIn 10s ease 1 forwards, countDownSlideIn 10s ease 1 forwards;

    @keyframes countDownSlideIn { 
        0%{top:38vh;}
        80%{top:38vh;}
        100%{top:35vh;}
    }   
}

.twitter-follow-button {
    position: fixed;
    bottom: 1vh;
    right: 1vw;

    animation: countDownFadeIn 10s ease 1 forwards;
}

@keyframes countDownFadeIn { 
    0%{opacity:0;}
    80%{opacity:0;}
    100%{opacity: 1;}
}