<div class="coming-soon-wrapper">
    <div class="sky"></div>
    <div class="twinkling-parent-fade-in">
      <div class="twinkling"></div>
    </div>
    <h1 id="main-heading">Spiritual Successor</h1>
    <div class="countdown">
      <h2>Coming Cönyngsdag, 1st Préëstu, 6th hour</h2>
      <p><span>{{daysLeft}} days</span>, <span>{{hoursRemainder}}</span> hours remaining</p>
    </div>
    <a href="https://twitter.com/sprsccr?ref_src=twsrc%5Etfw" class="twitter-follow-button" data-size="large" data-show-count="false">Follow @sprsccr</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
</div>