<header>
  <h1 class="logo" *ngIf="router.url !== '/coming-soon'"><img src="assets/images/spiritual-successor.png" alt="Spiritual Successor"/></h1>
  <nav *ngIf="router.url !== '/coming-soon'">
    <a routerLink="/load-data">Load Data</a>
    <a routerLink="/characters">Characters</a>
    <a routerLink="/progression-tables">Progression Tables</a>
    <a routerLink="/abilities">Abilities</a>
    <a routerLink="/attacks">Attacks</a>
    <a routerLink="/status-effects">Status Effects</a>
    <a routerLink="/export-data">Export Data</a>
  </nav>
</header>
<router-outlet></router-outlet>
<app-messages></app-messages>
