header {
    display: flex;
    padding: 0 1vw;
}

h1 {
    margin: 0;
}

.logo img {
    height: 5vh;
    margin: 1vh 1vh 0 0;
}

app-messages {
    position: fixed;
    width: 100%;
    bottom: 0;
    height: 4vw;
}