<div *ngIf="statusEffect" class="statuseffect-detail-container gd-form-container gd-scrollable-list">
    <form [formGroup]="statusEffectForm" class="gd-form" (ngSubmit)="onSubmit()">
        <div class="heading-controls">
          <h2>Status Effect</h2> <button type="submit" [disabled]="statusEffectForm.pristine">Save Changes</button>
        </div>
        <ul>
          <li><label class="gd-key"><span>ID:</span> <input class="gd-value gd-string gd-string-long" formControlName="ID" spellcheck="false" /></label></li>
          <li><label class="gd-key"><span>DebugName:</span> <input class="gd-value gd-string gd-string-long" formControlName="DebugName" spellcheck="false" /></label></li>

          <li><label class="gd-key"><span>Status Effect Type:</span> <input class="gd-value gd-string gd-string-long" formControlName="StatusEffectType" spellcheck="false" /></label></li>
          <li><label class="gd-key"><span>Use Status Effect Value As:</span> <input class="gd-value gd-string gd-string-long" formControlName="UseStatusEffectValueAs" spellcheck="false" /></label></li>
          <li><label class="gd-key"><span>Base Value:</span> <input class="gd-value gd-numeric" formControlName="BaseValue" spellcheck="false" /></label></li>
          <li><label class="gd-key"><span>Duration Type:</span> <input class="gd-value gd-string" formControlName="DurationType" spellcheck="false" /></label></li>
          <li><label class="gd-key"><span>Duration:</span> <input class="gd-value gd-numeric" formControlName="Duration" spellcheck="false" /></label></li>
          <li><label class="gd-key"><span>Max Stack Quantity:</span> <input class="gd-value gd-numeric" formControlName="MaxStackQuantity" spellcheck="false" /></label></li>
          <li><label class="gd-key"><span>Application Behavior:</span> <input class="gd-value gd-string" formControlName="ApplicationBehavior" spellcheck="false" /></label></li>
          <li><label class="gd-key"><span>Application Type:</span> <input class="gd-value gd-string" formControlName="ApplicationType" spellcheck="false" /></label></li>
          <li><label class="gd-key"><span>Interval Rate ID:</span> <input class="gd-value gd-string gd-string-long" formControlName="IntervalRateID" spellcheck="false" /></label></li>
          <li>
            <label class="gd-key">Is Hostile: 
              <select formControlName="IsHostile">
                <option value="true">Yes</option>
                <option value="false">No</option>
              </select>
            </label>
          </li>
          <li>
            <label class="gd-key">Clear On Combat End: 
              <select formControlName="ClearOnCombatEnd">
                <option value="true">Yes</option>
                <option value="false">No</option>
              </select>
            </label>
          </li>
          <li>
            <label class="gd-key">Clear On Rest: 
              <select formControlName="ClearOnRest">
                <option value="true">Yes</option>
                <option value="false">No</option>
              </select>
            </label>
          </li>
          <li>
            <label class="gd-key">Clear On Food Rest: 
              <select formControlName="ClearOnFoodRest">
                <option value="true">Yes</option>
                <option value="false">No</option>
              </select>
            </label>
          </li>
          <li>
            <label class="gd-key">Clear When Attacks: 
              <select formControlName="ClearWhenAttacks">
                <option value="true">Yes</option>
                <option value="false">No</option>
              </select>
            </label>
          </li>
          <li>
            <label class="gd-key">Hide From Combat Tooltip: 
              <select formControlName="HideFromCombatTooltip">
                <option value="true">Yes</option>
                <option value="false">No</option>
              </select>
            </label>
          </li>
          <li>
            <label class="gd-key">Hide From UI: 
              <select formControlName="HideFromUI">
                <option value="true">Yes</option>
                <option value="false">No</option>
              </select>
            </label>
          </li>
        </ul>
    </form>
</div>
