.export-data-container {
  width: 80vw;
  background: rgba(36, 185, 220, 0.35);
  color: #fff;
  padding: 1vw;
  height: 60vh;
  margin: 0 auto;
  justify-content: center;
  align-content: center;
  overflow: auto;

  &::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }
   
  &::-webkit-scrollbar-thumb {
    background: rgba(36, 185, 220, 0.35);
    border-radius: 20px;
  }
  
  &::-webkit-scrollbar-track {
    background: rgba(255, 255, 255, 0.15);
    border-radius: 20px;
  }

  h2, & > div > p {
    color: #ffffff;
    text-shadow: 0 0 3px #ffffff;
  }
}

collapsible-header {
  background: #ffffff3d;
}
