<div class="export-data-container">
  <h2 class="no-modification-made" *ngIf="!anyModificationBeenMade">You have not modified anything yet</h2>
  <div #characters class="mod-characters-wrapper">
    <p *ngIf="anyModificationBeenMade && !sortedModifiedObjects.modifiedCharacters.length">You have not modified any characters</p>

    <div *ngIf="sortedModifiedObjects.modifiedCharacters.length" class="heading-wrapper">
      <h2>Modified Characters Objects:</h2>
      <button type="button" (click)="exportFile('characters')">Export to file</button>
    </div>

    <collapsible-list *ngIf="sortedModifiedObjects.modifiedCharacters.length" [type]="'accordion'">
      
      <collapsible-list-item *ngFor="let character of sortedModifiedObjects.modifiedCharacters">
        <collapsible-header class="waves-effect">
          {{character.DebugName}}
        </collapsible-header>
        <collapsible-body [expanded]="false">
          <div class="actions">
            <button type="button" (click)="copyToClipboard(character.ID)">Copy to Clipboard</button>
          </div>
          <pre id="{{character.ID}}">{{character | json}}</pre>
        </collapsible-body>
      </collapsible-list-item>
    
    </collapsible-list>
    
  </div>

  <div #progressionTables class="mod-progression-tables-wrapper">
    <p *ngIf="anyModificationBeenMade && !sortedModifiedObjects.modifiedProgressionTables.length">You have not modified any progression tables</p>

    <div *ngIf="sortedModifiedObjects.modifiedProgressionTables.length" class="heading-wrapper">
      <h2>Modified Progression Tables:</h2>
      <button type="button" (click)="exportFile('progressiontables')">Export to file</button>
    </div>

    <collapsible-list *ngIf="sortedModifiedObjects.modifiedProgressionTables.length" [type]="'accordion'">
      
      <collapsible-list-item *ngFor="let progressionTable of sortedModifiedObjects.modifiedProgressionTables">
        <collapsible-header class="waves-effect">
          {{progressionTable.DebugName}}
        </collapsible-header>
        <collapsible-body [expanded]="false">
          <div class="actions">
            <button type="button" (click)="copyToClipboard(progressionTable.ID)">Copy to Clipboard</button>
          </div>
          <pre id="{{progressionTable.ID}}">{{progressionTable | json}}</pre>
        </collapsible-body>
      </collapsible-list-item>
    
    </collapsible-list>
    
  </div>

  <div #abilities class="mod-abilities-wrapper">
    <p *ngIf="anyModificationBeenMade && !sortedModifiedObjects.modifiedAbilities.length">You have not modified any abilities</p>

    <div *ngIf="sortedModifiedObjects.modifiedAbilities.length" class="heading-wrapper">
      <h2>Modified Abilities:</h2>
      <button type="button" (click)="exportFile('abilities')">Export to file</button>
    </div>

    <collapsible-list *ngIf="sortedModifiedObjects.modifiedAbilities.length" [type]="'accordion'">
      
      <collapsible-list-item *ngFor="let ability of sortedModifiedObjects.modifiedAbilities">
        <collapsible-header class="waves-effect">
          {{ability.DebugName}}
        </collapsible-header>
        <collapsible-body [expanded]="false">
          <div class="actions">
            <button type="button" (click)="copyToClipboard(ability.ID)">Copy to Clipboard</button>
          </div>
          <pre id="{{ability.ID}}">{{ability | json}}</pre>
        </collapsible-body>
      </collapsible-list-item>
    
    </collapsible-list>
    
  </div>

  <div #attacks class="mod-attacks-wrapper">
    <p *ngIf="anyModificationBeenMade && !sortedModifiedObjects.modifiedAttacks.length">You have not modified any attacks</p>

    <div *ngIf="sortedModifiedObjects.modifiedAttacks.length" class="heading-wrapper">
      <h2>Modified Attacks:</h2>
      <button type="button" (click)="exportFile('attacks')">Export to file</button>
    </div>

    <collapsible-list *ngIf="sortedModifiedObjects.modifiedAttacks.length" [type]="'accordion'">
      
      <collapsible-list-item *ngFor="let attack of sortedModifiedObjects.modifiedAttacks">
        <collapsible-header class="waves-effect">
          {{attack.DebugName}}
        </collapsible-header>
        <collapsible-body [expanded]="false">
          <div class="actions">
            <button type="button" (click)="copyToClipboard(attack.ID)">Copy to Clipboard</button>
          </div>
          <pre id="{{attack.ID}}">{{attack | json}}</pre>
        </collapsible-body>
      </collapsible-list-item>
    
    </collapsible-list>
    
  </div>

  <div #statuseffects class="mod-statuseffects-wrapper">
    <p *ngIf="anyModificationBeenMade && !sortedModifiedObjects.modifiedStatusEffects.length">You have not modified any status effects</p>

    <div *ngIf="sortedModifiedObjects.modifiedStatusEffects.length" class="heading-wrapper">
      <h2>Modified Status Effects:</h2>
      <button type="button" (click)="exportFile('statuseffects')">Export to file</button>
    </div>

    <collapsible-list *ngIf="sortedModifiedObjects.modifiedStatusEffects.length" [type]="'accordion'">
      
      <collapsible-list-item *ngFor="let statuseffect of sortedModifiedObjects.modifiedStatusEffects">
        <collapsible-header class="waves-effect">
          {{statuseffect.DebugName}}
        </collapsible-header>
        <collapsible-body [expanded]="false">
          <div class="actions">
            <button type="button" (click)="copyToClipboard(statuseffect.ID)">Copy to Clipboard</button>
          </div>
          <pre id="{{statuseffect.ID}}">{{statuseffect | json}}</pre>
        </collapsible-body>
      </collapsible-list-item>
    
    </collapsible-list>
  </div>
</div>