<div class="app-abilities-wrapper gd-layout-wrapper">
  <div class="abilities-list gd-object-wrapper">
    <div class="paper">
      <ul class="abilities gd-scrollable-list">
        <li *ngFor="let ability of abilities" (click)="onSelect(ability)" [class.selected]="ability === selectedAbility">{{ability.DebugName}}</li>
      </ul>
    </div>
  </div>
  <div class="gd-scrolling-wrapper">
    <div class="gd-ability-detail-outer gd-object-wrapper">
      <app-ability-detail class="paper rotated01" (attackIDPresent)="goToAttack($event)" (statusEffectIDPresent)="goToStatusEffect($event)" [ability]="selectedAbility"></app-ability-detail>
    </div>
    <div *ngIf="selectedAttack.ID" class="gd-attack-detail-outer gd-object-wrapper">
      <app-attack-detail class="paper rotated01" (statusEffectIDPresent)="goToStatusEffect($event)" [attack]="selectedAttack"></app-attack-detail>
    </div>
    <div *ngIf="selectedStatusEffect.ID" class="gd-status-effect-detail-outer gd-object-wrapper">
      <app-statuseffect-detail class="paper rotated01" [statusEffect]="selectedStatusEffect"></app-statuseffect-detail>
    </div>
  </div>
</div>