<div *ngIf="attack" class="attack-detail gd-form-container gd-scrollable-list">
  <form [formGroup]="attackForm" class="gd-form" (ngSubmit)="onSubmit()">
    <div class="heading-controls">
      <h2>Attack Details</h2> <button type="submit" [disabled]="attackForm.pristine">Save Changes</button>
    </div>
    <fieldset>
      <legend>Base Attack Properties</legend>
      <ul>
        <li><label class="gd-key"><span>ID:</span> <input class="gd-value" formControlName="ID"/></label></li>
        <li><label class="gd-key"><span>DebugName:</span> <input class="gd-value" formControlName="DebugName"/></label></li>

        <li><label class="gd-key"><span>Attack Distance:</span> <input class="gd-value" formControlName="AttackDistance"/></label></li>
        <li><label class="gd-key"><span>Min Attack Distance:</span> <input class="gd-value" formControlName="MinAttackDistance"/></label></li>
        <li><label class="gd-key"><span>Attack Variation ID:</span> <input class="gd-value" formControlName="AttackVariationID"/></label></li>
        <li><label class="gd-key"><span>Cast Speed ID:</span> <input class="gd-value" formControlName="CastSpeedID"/></label></li>
        <li><label class="gd-key"><span>Recovery Time ID:</span> <input class="gd-value" formControlName="RecoveryTimeID"/></label></li>
        <li><label class="gd-key"><span>Impact Delay:</span> <input class="gd-value" formControlName="ImpactDelay"/></label></li>
        <li><label class="gd-key"><span>Forced Target:</span> <input class="gd-value" formControlName="ForcedTarget"/></label></li>
        <li><label class="gd-key"><span>Affected Target Type:</span> <input class="gd-value" formControlName="AffectedTargetType"/></label></li>
        <li><label class="gd-key"><span>Affected TargetDeath State:</span> <input class="gd-value" formControlName="AffectedTargetDeathState"/></label></li>
        <li><label class="gd-key"><span>Hostility Override:</span> <input class="gd-value" formControlName="HostilityOverride"/></label></li>
        <li><label class="gd-key"><span>Push Distance:</span> <input class="gd-value" formControlName="PushDistance"/></label></li>
        <li><label class="gd-key"><span>Face Target:</span> 
          <select formControlName="FaceTarget">
            <option value="true">Yes</option>
            <option value="false">No</option>
          </select></label>
        </li>
        <li><label class="gd-key"><span>Accuracy Bonus:</span> <input class="gd-value" formControlName="AccuracyBonus"/></label></li>
        <li><label class="gd-key"><span>Penetration Rating:</span> <input class="gd-value" formControlName="PenetrationRating"/></label></li>
        <li><label class="gd-key"><span>Damage Type:</span> <input class="gd-value" formControlName="DamageType"/></label></li>
        <li><label class="gd-key"><span>Alternate Damage Type:</span> <input class="gd-value" formControlName="AlternateDamageType"/></label></li>
        <li><label class="gd-key"><span>Minimum:</span> <input class="gd-value" formControlName="Minimum"/></label></li>
        <li><label class="gd-key"><span>Maximum:</span> <input class="gd-value" formControlName="Maximum"/></label></li>
        <li><label class="gd-key"><span>Damage Attribute:</span> <input class="gd-value" formControlName="DamageAttribute"/></label></li>
        
        <li>
          <label class="gd-key"><span>StatusEffectsIDs:</span> </label>
          <div class="status-effect-id-item" *ngFor="let single of attackForm.value.StatusEffectsIDs; let i = index;">
            <app-list-item-actions (objAlteredSuccessfully)="onObjectListAltered()" (goToListItem)="loadStatusEffect($event)" [parentArray]="attackForm.value.StatusEffectsIDs" [objectIndex]="i">
            </app-list-item-actions>
            <label>Status Effect Name:<br />
              <select [value]="single.statusEffectIDValue" #thisSelect (change)="onStatusEffectIDChange(thisSelect.value, i)">
                <option *ngFor="let statuseffect of statusEffects" [value]="statuseffect.ID">{{statuseffect.DebugName}}</option>
              </select>
            </label><br/>
            <label>
              Status Effect ID:<br /><span class="gd-value disabled">{{single.statusEffectIDValue}}</span>
            </label>
          </div>

          <!-- <collapsible-list [type]="'accordion'">
            <collapsible-list-item *ngFor="let single of attackForm.value.StatusEffectsIDs; let i = index;">
              <collapsible-header class="waves-effect">
                <div class="header-container">
                  <span class="name">{{single.statusEffectIDValue}}</span>
                  <app-list-item-actions (objAlteredSuccessfully)="onObjectListAltered()" (goToListItem)="loadStatusEffect($event)" [parentArray]="attackForm.value.StatusEffectsIDs" [objectIndex]="i">
                  </app-list-item-actions>
                </div>
              </collapsible-header>
              <collapsible-body [expanded]="false">
                <label>ID: <input [value]="single.statusEffectIDValue" #thisInput (change)="onStatusEffectIDChange(thisInput.value, i)" /></label>
                <label>Status Effect:
                  <select [value]="single.statusEffectIDValue" #thisSelect (change)="onStatusEffectIDChange(thisSelect.value, i)">
                    <option *ngFor="let statuseffect of statusEffects" [value]="statuseffect.ID">{{statuseffect.DebugName}}</option>
                  </select>
                </label>
              </collapsible-body>
            </collapsible-list-item>
          </collapsible-list> -->
        </li>
        
        <li>
          <label class="gd-key"><span>Randomize Status Effect:</span> 
          <select formControlName="RandomizeStatusEffect">
            <option value="true">Yes</option>
            <option value="false">No</option>
          </select></label>
        </li>
        <li>
          <label class="gd-key"><span>Can Graze:</span> 
          <select formControlName="CanGraze">
            <option value="true">Yes</option>
            <option value="false">No</option>
          </select></label>
        </li>
        <li>
          <label class="gd-key"><span>Can Crit:</span> 
          <select formControlName="CanCrit">
            <option value="true">Yes</option>
            <option value="false">No</option>
          </select></label>
        </li>
        <li><label class="gd-key"><span>Defended By:</span> <input class="gd-value" formControlName="DefendedBy"/></label></li>
        <li><label class="gd-key"><span>Afflictions Defended By:</span> <input class="gd-value" formControlName="AfflictionsDefendedBy"/></label></li>
        <li><label class="gd-key"><span>Affliction Application Modifier:</span> <input class="gd-value" formControlName="AfflictionApplicationModifier"/></label></li>
        <li><label class="gd-key"><span>Attack On Impact ID:</span> <input class="gd-value" formControlName="AttackOnImpactID"/></label></li>
        <li><label class="gd-key"><span>Extra Attack ID:</span> <input class="gd-value" formControlName="ExtraAttackID"/></label></li>
        <li><label class="gd-key"><span>Launch Bone:</span> <input class="gd-value" formControlName="ExtraAttackID"/></label></li>
        <li><label class="gd-key"><span>Hit Bone:</span> <input class="gd-value" formControlName="HitBone"/></label></li>
        <li><label class="gd-key"><span>Noise Level ID:</span> <input class="gd-value" formControlName="NoiseLevelID"/></label></li>
        <li><label class="gd-key"><span>Interrupts On:</span> <input class="gd-value" formControlName="InterruptsOn"/></label></li>
        <li><label class="gd-key"><span>Interrupt Type:</span> <input class="gd-value" formControlName="InterruptType"/></label></li>
        <li><label class="gd-key"><span>Apply Once Only:</span> <input class="gd-value" formControlName="ApplyOnceOnly"/></label></li>
        <li>
          <label class="gd-key"><span>Hide From Combat Log:</span> 
          <select formControlName="HideFromCombatLog">
            <option value="true">Yes</option>
            <option value="false">No</option>
          </select></label>
        </li>
        <li>
          <label class="gd-key"><span>Does Not Apply Damage:</span> 
          <select formControlName="DoesNotApplyDamage">
            <option value="true">Yes</option>
            <option value="false">No</option>
          </select></label>
        </li>
        <li>
          <label class="gd-key"><span>Treat As Weapon:</span> 
          <select formControlName="TreatAsWeapon">
            <option value="true">Yes</option>
            <option value="false">No</option>
          </select></label>
        </li>
      </ul>
    </fieldset>
      
    <fieldset *ngIf="attackType==='AttackMeleeGameData' || attackType==='AttackGrappleGameData'">
      <legend>Melee Attack Specific Properties</legend>
      <ul>
        <li><label class="gd-key"><span>Engagement Radius:</span> <input class="gd-value" formControlName="EngagementRadius"/></label></li>
        <li>
          <label class="gd-key"><span>Is Unarmed:</span> 
          <select formControlName="IsUnarmed">
            <option value="true">Yes</option>
            <option value="false">No</option>
          </select></label>
        </li>
      </ul>
    </fieldset>

    <fieldset *ngIf="attackType==='AttackAOEGameData' || attackType==='AttackAuraGameData' || attackType==='AttackPulsedAOEGameData' || attackType==='AttackRandomAOEGameData'">
        <legend>AOE Attack Specific Properties</legend>
        <ul>
          <li><label class="gd-key"><span>Blast Size:</span> <input class="gd-value" formControlName="BlastSize"/></label></li>
          <li><label class="gd-key"><span>Blast Radius Override:</span> <input class="gd-value" formControlName="BlastRadiusOverride"/></label></li>
          <li><label class="gd-key"><span>Damage Angle:</span> <input class="gd-value" formControlName="DamageAngle"/></label></li>
          <li>
            <label class="gd-key"><span>Exclude Primary Target:</span> 
            <select formControlName="ExcludePrimaryTarget">
              <option value="true">Yes</option>
              <option value="false">No</option>
            </select></label>
          </li>
          <li>
            <label class="gd-key"><span>Ignore Parent Target:</span> 
            <select formControlName="IgnoreParentTarget">
              <option value="true">Yes</option>
              <option value="false">No</option>
            </select></label>
          </li>
          <li>
            <label class="gd-key"><span>Exclude Self:</span> 
            <select formControlName="ExcludeSelf">
              <option value="true">Yes</option>
              <option value="false">No</option>
            </select></label>
          </li>
          <li><label class="gd-key"><span>Blast Physics Force:</span> <input class="gd-value" formControlName="BlastPhysicsForce"/></label></li>
          <li>
            <label class="gd-key"><span>Push From Caster:</span> 
            <select formControlName="PushFromCaster">
              <option value="true">Yes</option>
              <option value="false">No</option>
            </select></label>
          </li>
        </ul>
      </fieldset>

      <fieldset *ngIf="attackType==='AttackAOEGameData' || attackType==='AttackAuraGameData' || attackType==='AttackFirearmGameData' || attackType==='AttackPulsedAOEGameData' || attackType==='AttackRandomAOEGameData' || attackType==='AttackRangedGameData'">
        <legend>Ranged Attack Specific Properties</legend>
        <ul>
          <li>
            <label class="gd-key"><span>Launch Attack On Collision:</span> 
            <select formControlName="LaunchAttackOnCollision">
              <option value="true">Yes</option>
              <option value="false">No</option>
            </select></label>
          </li>
          <li><label class="gd-key"><span>Projectile Count:</span> <input class="gd-value" formControlName="ProjectileCount"/></label></li>
          <li>
            <label class="gd-key"><span>Ignore Magic Defense:</span> 
            <select formControlName="IgnoreMagicDefense">
              <option value="true">Yes</option>
              <option value="false">No</option>
            </select></label>
          </li>
          <li><label class="gd-key"><span>Projectile Cone Angle:</span> <input class="gd-value" formControlName="ProjectileConeAngle"/></label></li>
          <li>
            <label class="gd-key"><span>Is Multi Hit:</span> 
            <select formControlName="IsMultiHit">
              <option value="true">Yes</option>
              <option value="false">No</option>
            </select></label>
          </li>
          <li><label class="gd-key"><span>Multi Hit Travel Dist:</span> <input class="gd-value" formControlName="MultiHitTravelDist"/></label></li>
          <li><label class="gd-key"><span>Multi Hit Max Hits:</span> <input class="gd-value" formControlName="MultiHitMaxHits"/></label></li>
        </ul>
      </fieldset>

      <fieldset *ngIf="attackType==='AttackAuraGameData'">
        <legend>Aura Attack Specific Properties</legend>
        <ul>
          <li><label class="gd-key"><span>Duration:</span> <input class="gd-value" formControlName="Duration"/></label></li>
          <li>
            <label class="gd-key"><span>Scale:</span> 
            <select formControlName="Scale">
              <option value="true">Yes</option>
              <option value="false">No</option>
            </select></label>
          </li>
        </ul>
      </fieldset>

      <fieldset *ngIf="attackType==='AttackBeamComponent'">
        <legend>Beam Attack Specific Properties</legend>
        <ul>
          <li><label class="gd-key"><span>Beam Duration:</span> <input class="gd-value" formControlName="BeamDuration"/></label></li>
          <li><label class="gd-key"><span>Beam Interval:</span> <input class="gd-value" formControlName="BeamInterval"/></label></li>
          <li>
            <label class="gd-key"><span>Beam Targets:</span> 
            <select formControlName="BeamTargets">
              <option value="All">All</option>
              <option value="Hostile">Hostile</option>
            </select></label>
          </li>
          <li><label class="gd-key"><span>Beam Excludes Main Target:</span> <input class="gd-value" formControlName="BeamExcludesMainTarget"/></label></li>
          <li>
            <label class="gd-key"><span>Caster Offset:</span> 
            <select formControlName="CasterOffset">
              <option value="true">Yes</option>
              <option value="false">No</option>
            </select></label>
          </li>
          <li><label class="gd-key"><span>Target Offset:</span> <input class="gd-value" formControlName="TargetOffset"/></label></li>
        </ul>
      </fieldset>

      <fieldset *ngIf="attackType==='AttackFirearmGameData'">
        <legend>Firearm Attack Specific Properties</legend>
        <ul>
          <li><label class="gd-key"><span>Clip Size:</span> <input class="gd-value" formControlName="ClipSize"/></label></li>
          <li><label class="gd-key"><span>Reload Time:</span> <input class="gd-value" formControlName="ReloadTime"/></label></li>
          <li>
            <label class="gd-key"><span>Firearm Type:</span> 
            <select formControlName="FirearmType">
              <option value="Arbalest">Arbalest</option>
              <option value="Rifle">Rifle</option>
              <option value="Pistol">Pistol</option>
              <option value="Crossbow">Crossbow</option>
            </select></label>
          </li>
        </ul>
      </fieldset>

      <fieldset *ngIf="attackType==='AttackGrappleGameData'">
        <legend>Grapple Attack Specific Properties</legend>
        <ul>
          <li><label class="gd-key"><span>Knockdown Time:</span> <input class="gd-value" formControlName="KnockdownTime"/></label></li>
          <li><label class="gd-key"><span>Damage Attack ID:</span> <input class="gd-value" formControlName="DamageAttackID"/></label></li>
        </ul>
      </fieldset>

      <fieldset *ngIf="attackType==='AttackGrappleGameData'">
        <legend>Grapple Attack Specific Properties</legend>
        <ul>
          <li><label class="gd-key"><span>Knockdown Time:</span> <input class="gd-value" formControlName="KnockdownTime"/></label></li>
          <li><label class="gd-key"><span>Damage Attack ID:</span> <input class="gd-value" formControlName="DamageAttackID"/></label></li>
        </ul>
      </fieldset>

      <fieldset *ngIf="attackType==='AttackPulsedAOEGameData' || attackType==='AttackRandomAOEGameData'">
        <legend>PulsedAOE Attack Specific Properties</legend>
        <ul>
          <li><label class="gd-key"><span>Duration:</span> <input class="gd-value" formControlName="Duration"/></label></li>
          <li><label class="gd-key"><span>Pulse Interval Rate:</span> <input class="gd-value" formControlName="PulseIntervalRate"/></label></li>
          <li>
            <label class="gd-key"><span>OneValid Target Per Pulse:</span> 
            <select formControlName="OneValidTargetPerPulse">
              <option value="true">Yes</option>
              <option value="false">No</option>
            </select></label>
          </li>
          <li>
            <label class="gd-key"><span>Scale:</span> 
            <select formControlName="Scale">
              <option value="true">Yes</option>
              <option value="false">No</option>
            </select></label>
          </li>
        </ul>
      </fieldset>

      <fieldset *ngIf="attackType==='AttackRandomAOEComponent'">
        <legend>RandomAOE Attack Specific Properties</legend>
        <ul>
          <li><label class="gd-key"><span>Random Attack ID:</span> <input class="gd-value" formControlName="RandomAttackID"/></label></li>
          <li>
            <label class="gd-key"><span>Random Target Style:</span> 
            <select formControlName="RandomTargetStyle">
              <option value="Location">Location</option>
              <option value="Object">Object</option>
            </select></label>
          </li>
          <li><label class="gd-key"><span>Num Hits:</span> <input class="gd-value" formControlName="NumHits"/></label></li>
          <li><label class="gd-key"><span>Max Hits Per Target:</span> <input class="gd-value" formControlName="MaxHitsPerTarget"/></label></li>
        </ul>
      </fieldset>

      <fieldset *ngIf="attackType==='AttackSummonGameData' || attackType==='AttackSummonRandomGameData'">
        <legend>Summon Attack Specific Properties</legend>
        <ul>
          <li>
            <label class="gd-key"><span>Summon Type:</span> 
            <select formControlName="SummonType">
              <option value="Summoned">Summoned</option>
              <option value="AnimalCompanion">AnimalCompanion</option>
              <option value="NotSummoned">NotSummoned</option>
              <option value="Pet">Pet</option>
            </select></label>
          </li>
          <li>
            <label class="gd-key"><span>Team Type:</span> 
            <select formControlName="TeamType">
              <option value="Summoned">JoinParty</option>
              <option value="AnimalCompanion">PrefabTeam</option>
            </select></label>
          </li>
          <li>
            <label class="gd-key"><span>Summon Copy Of Self:</span> 
            <select formControlName="SummonCopyOfSelf">
              <option value="true">Yes</option>
              <option value="false">No</option>
            </select></label>
          </li>
          <li><label class="gd-key"><span>Duration:</span> <input class="gd-value" formControlName="Duration"/></label></li>
          <li>
            <label class="gd-key"><span>HasLoot:</span> 
            <select formControlName="HasLoot">
              <option value="true">Yes</option>
              <option value="false">No</option>
            </select></label>
          </li>
        </ul>
      </fieldset>

      <fieldset *ngIf="attackType==='AttackSummonRandomComponent'">
        <legend>SummonRandom Attack Specific Properties</legend>
        <ul>
          <li><label class="gd-key"><span>Max Summons:</span> <input class="gd-value" formControlName="MaxSummons"/></label></li>
        </ul>
      </fieldset>

      <fieldset *ngIf="attackType==='AttackWallGameData'">
        <legend>Wall Attack Specific Properties</legend>
        <ul>
          <li><label class="gd-key"><span>Wall Length:</span> <input class="gd-value" formControlName="WallLength"/></label></li>
          <li>
            <label class="gd-key"><span>From Caster Position:</span> 
            <select formControlName="FromCasterPosition">
              <option value="true">Yes</option>
              <option value="false">No</option>
            </select></label>
          </li>
        </ul>
      </fieldset>

      <fieldset *ngIf="attackType==='BeamTeleportAttackGameData'">
        <legend>BeamTeleport Attack Specific Properties</legend>
        <ul>
          <li>
            <label class="gd-key"><span>Hit With Primary Attack:</span> 
            <select formControlName="HitWithPrimaryAttack">
              <option value="true">Yes</option>
              <option value="false">No</option>
            </select></label>
          </li>
          <li>
            <label class="gd-key"><span>Hit With Secondary Attack:</span> 
            <select formControlName="HitWithSecondaryAttack">
              <option value="true">Yes</option>
              <option value="false">No</option>
            </select></label>
          </li>
          <li>
            <label class="gd-key"><span>Summon Copy Of Self:</span> 
            <select formControlName="SummonCopyOfSelf">
              <option value="true">Yes</option>
              <option value="false">No</option>
            </select></label>
          </li>
          <li>
            <label class="gd-key"><span>Hit Target With Primary Attack:</span> 
            <select formControlName="HitTargetWithPrimaryAttack">
              <option value="true">Yes</option>
              <option value="false">No</option>
            </select></label>
          </li>
          <li>
            <label class="gd-key"><span>Hit Target With Secondary Attack:</span> 
            <select formControlName="HitTargetWithSecondaryAttack">
              <option value="true">Yes</option>
              <option value="false">No</option>
            </select></label>
          </li>
        </ul>
      </fieldset>

      <fieldset *ngIf="attackType==='BeamTeleportAttackGameData' || attackType==='MastersCallAttackGameData' || attackType==='TeleportAttackGameData'">
          <legend>Teleport Attack Specific Properties</legend>
          <ul>
            <li>
              <label class="gd-key"><span>Skip Raycast:</span> 
              <select formControlName="SkipRaycast">
                <option value="true">Yes</option>
                <option value="false">No</option>
              </select></label>
            </li>
            <li>
              <label class="gd-key"><span>Retreating:</span> 
              <select formControlName="Retreating">
                <option value="true">Yes</option>
                <option value="false">No</option>
              </select></label>
            </li>
          </ul>
        </fieldset>
  </form>
</div>