/* Icons from directory "" */
.icon-helm,.icon-helm\:regular{background-image:url('assets/icons/icons.svg');background-position:0 0;background-repeat:no-repeat}
.icon-helm-dims{width:300px;height:300px}
.icon-save,.icon-save\:regular{background-image:url('assets/icons/icons.svg');background-position:0 -300px;background-repeat:no-repeat}
.icon-save-dims{width:300px;height:300px}

/* Master Styles */
* {
  font-family: 'EB Garamond', serif;
  font-weight: 700;
}

body, html {
  margin: 0;
  padding: 0;
}

body {
  background: url('assets/images/background-1080.jpg') no-repeat;
  background-size: cover;
}

body, input[text], button {
  color: #232323;
  font-family: 'EB Garamond', serif;
}

h1 {
  color: #232323;
  font-family: 'EB Garamond', serif;
  font-size: 250%;
}
h2, h3 {
  color: #232323;
  font-family: 'EB Garamond', serif;
  font-weight: lighter;
}

fieldset {
  padding: 0;
  margin: 0 0 3vh 0;
  border: none;
}

legend {
  font-size: 1.2rem;
}

a {
  cursor: pointer;
  cursor: hand;
}
button {
  font-family: 'EB Garamond', serif;
  color: #f0af2b;
  background-color: #402515;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
  cursor: hand;
  margin: 0 .3vw;
}
button:hover {
  text-shadow: 0 0 3px #f0af2b;
}
button:disabled {
  background-color: #5d4538;
  color: #aaa;
  cursor: auto;

  &:hover {
    text-shadow: none;
  }
}

/* Navigation link styles */
nav {
  display: flex;
  align-items: center;
}
nav a {
  padding: 5px 10px;
  text-decoration: none;
  margin-right: 10px;
  margin-top: 10px;
  display: inline-block;
  color: #f0af2b;
  background-color: #402515;
  border-radius: 4px;

}
nav a:visited, a:link {
  color: #f0af2b;
}
nav a:hover {
  text-shadow: 0 0 3px #f0af2b;
}
nav a.active {
  text-shadow: 0 0 3px #f0af2b;
}

/* Spiritual Successor Layout */
.gd-layout-wrapper {
  padding: 0 1vw;
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;

  & > div:first-child {
    margin-right: .5vw;
  }
}

.gd-object-wrapper {
  background: url('assets/images/bg-panel.png') no-repeat;
  background-size: auto 100%;
  flex: 0 0 auto;

  form {
    position: relative;
  }
}

.paper {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  overflow: hidden;
  position: relative;

  &:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 0;
    background: url('assets/images/bg-paper.png') no-repeat 20% 66%;
    background-size: 94% 93%;
  }

  &.rotated01:before {
    transform: rotateX(180deg);
    width: 25vw;
    height: 105%;
  }

  &.rotated2:before {
    transform: rotateY(180deg);
    transform: rotateX(180deg);
  }

  &.rotated03:before {
    transform: rotateZ(180deg);
  }
}

ul {
  padding: 0;
  margin: 0;
  list-style-type: none;

  &.gd-scrollable-list {
    height: 80%;
    overflow-y: auto;
    overflow-x: hidden;
    position: relative;
    width: 85%;
    max-width: 25vw;
  }
}

.gd-scrollable-list {
  margin-left: 12%;
  li {
    cursor: pointer;
    margin: .1vw 0;
    &:hover {
      color: #420d0d;
    }
  }
}

.gd-scrollable-list::-webkit-scrollbar {
  width: 10px;
}
 
.gd-scrollable-list::-webkit-scrollbar-thumb {
  background: rgba(191, 159, 63, 0.35);
  border-radius: 20px;
}

.gd-scrollable-list::-webkit-scrollbar-track {
  background: rgba(193, 66, 66, 0.15);
  border-radius: 20px;
}

.gd-form-container {
  height: 87%;
  overflow-y: auto;
  overflow-x: hidden;
  width: 85%;
  position: relative;
  h2 {
    display: inline;
  }
}

.heading-controls {
  text-align: center;
}

.gd-form {

  li {
    cursor: default;
  }

  .gd-key {
    width: 100%;
    display: block;
    span {
      cursor: pointer;
      width: 9vw;
      display: inline-block;
      overflow-wrap: break-word;
    }
  }

  .gd-value {
    font-weight: bold;

    &.gd-numeric {
      width: 1.5vw;
    }

    &.gd-string-long {
      width: 7vw;
    }

    &.disabled {
      color: #232323;
      cursor: default;
    }
  }

  input, select, option {
    background: transparent;
    -webkit-appearance: none;
    -moz-appearance:    none;
    appearance:         none;
    color: #420d0d;
    border: 1px solid transparent;
    outline: none;

    &:hover, &:active, &:focus {
      background: rgba(255, 255, 255, 0.15);
      border: 1px solid rgba(193, 66, 66, 0.15);
    }
  }

  select {
    border: 1px solid transparent;
    cursor: pointer;
    width: 9vw;
    padding: .1vw;
    position: relative;

    &:after {
      content: "";
      width: 0px;
      height: 0px;
      border-left: 5px solid transparent;
      border-right: 5px solid transparent;
      border-top: 5px solid #2f2f2f;
      position: absolute;
      right: 0;
      top: 0;
    }
  
    &:hover {
      border: 1px solid rgba(97, 36, 36, 0.55);
    }
  }
}

app-progression-table-detail {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: hidden;
  height: 100%;
}

.gd-scrolling-wrapper {
  height: 41vw;
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  width: 72vw;

  &::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }
   
  &::-webkit-scrollbar-thumb {
    background: rgba(36, 185, 220, 0.35);
    border-radius: 20px;
  }
  
  &::-webkit-scrollbar-track {
    background: rgba(255, 255, 255, 0.15);
    border-radius: 20px;
  }
}

.status-effect-id-item {
  padding-left: 1vw;
  margin-bottom: 3vh;
}

.gd-ability-detail-outer {
  width: 25vw;
  margin: 0 .5vw;
  height: 40vw;
}

.gd-attack-detail-outer {
  width: 25vw;
  margin: 0 .5vw;
  height: 40vw;
}

.gd-status-effect-detail-outer {
  width: 25vw;
  margin: 0 .5vw;
  height: 40vw;
}