<div *ngIf="ability" class="gd-ability-detail gd-form-container gd-scrollable-list">
  <form [formGroup]="abilityForm" class="gd-form"  (ngSubmit)="onSubmit()">
      <div class="heading-controls">
        <h2>Ability Details</h2> <button type="submit" [disabled]="abilityForm.pristine">Save Changes</button>
      </div>
      <ul>
        <li><label class="gd-key"><span>ID: </span><input class="gd-value gd-string gd-string-long" formControlName="ID" spellcheck="false" /></label></li>
        <li><label class="gd-key"><span>DebugName: </span><input class="gd-value gd-string gd-string-long" formControlName="DebugName" spellcheck="false" /></label></li>
        <li><label class="gd-key"><span>Display Name: </span><input class="gd-value gd-numeric" formControlName="DisplayName" spellcheck="false" /></label></li>
        <li><label class="gd-key"><span>Description: </span><input class="gd-value gd-numeric" formControlName="Description" spellcheck="false" /></label></li>
        <li><label class="gd-key"><span>Upgraded From ID: </span><input class="gd-value gd-string gd-string-long" formControlName="UpgradedFromID" spellcheck="false" /></label></li>
        <li><label class="gd-key"><span>Icon: </span><input class="gd-value gd-string gd-string-long" formControlName="Icon" spellcheck="false" /></label></li>
        <li><label class="gd-key"><span>Usage Value: </span><input class="gd-value gd-numeric" formControlName="UsageValue" spellcheck="false" /></label></li>
        <li><label class="gd-key"><span>Ability Class: </span><input class="gd-value gd-string" formControlName="AbilityClass" spellcheck="false" /></label></li>
        <li><label class="gd-key"><span>Ability Level: </span><input class="gd-value gd-numeric" formControlName="AbilityLevel" spellcheck="false" /></label></li>
        <li>
          <label class="gd-key"><span>Is Passive: </span>
            <select class="gd-value" formControlName="IsPassive">
              <option value="true">Yes</option>
              <option value="false">No</option>
            </select>
          </label>
        </li>
        <li>
          <label class="gd-key"><span>Trigger On Hit: </span>
            <select class="gd-value" formControlName="TriggerOnHit">
              <option value="true">Yes</option>
              <option value="false">No</option>
            </select>
          </label>
        </li>
        <li>
          <label class="gd-key"><span>Is Modal: </span>
            <select class="gd-value" formControlName="IsModal">
              <option value="true">Yes</option>
              <option value="false">No</option>
            </select>
        </label>          
        </li>
        <li>
          <label class="gd-key"><span>Is Combat Only: </span>
            <select class="gd-value" formControlName="IsCombatOnly">
              <option value="true">Yes</option>
              <option value="false">No</option>
            </select>
          </label>          
        </li>
        <li>
          <label class="gd-key"><span>Is Non Combat Only: </span>
            <select class="gd-value" formControlName="IsNonCombatOnly">
              <option value="true">Yes</option>
              <option value="false">No</option>
            </select>
        </label>          
        </li>
        <li>
          <label class="gd-key"><span>Hide From UI: </span>
            <select class="gd-value" formControlName="HideFromUI">
              <option value="true">Yes</option>
              <option value="false">No</option>
            </select>
          </label>          
        </li>
        <li>
          <label class="gd-key"><span>Hide From Combat Log: </span>
            <select class="gd-value" formControlName="HideFromCombatLog">
              <option value="true">Yes</option>
              <option value="false">No</option>
            </select>
          </label>          
        </li>
        <li><label class="gd-key"><span>Unique Set: </span><input class="gd-value gd-numeric" formControlName="UniqueSet" spellcheck="false" /></label></li>
        <li><label class="gd-key"><span>Noise Level ID: </span><input class="gd-value gd-string gd-string-long" formControlName="NoiseLevelID" spellcheck="false" /></label></li>
        <li><label class="gd-key"><span>Duration Override: </span><input class="gd-value gd-string" formControlName="DurationOverride" spellcheck="false" /></label></li>
        <li>
          <label class="gd-key"><span>Clears On Movement: </span>
            <select class="gd-value" formControlName="ClearsOnMovement">
              <option value="true">Yes</option>
              <option value="false">No</option>
            </select>
          </label>
        </li>
        <li>
          <label class="gd-key"><span>Cannot Activate While In Stealth: </span>
            <select class="gd-value" formControlName="CannotActivateWhileInStealth">
              <option value="true">Yes</option>
              <option value="false">No</option>
            </select>
          </label>
        </li>
        <li formGroupName="PowerLevelScaling"><label class="gd-key"><span>Base Level: </span><input class="gd-value gd-numeric" formControlName="BaseLevel" spellcheck="false"/></label></li>
        <li formGroupName="PowerLevelScaling"><label class="gd-key"><span>Level Increment: </span><input class="gd-value gd-numeric" formControlName="LevelIncrement" spellcheck="false" /></label></li>
        <li formGroupName="PowerLevelScaling"><label class="gd-key"><span>Max Level: </span><input class="gd-value gd-numeric" formControlName="MaxLevel" spellcheck="false" /></label></li>
        <li formGroupName="PowerLevelScaling"><label class="gd-key"><span>Damage Adjustment: </span><input class="gd-value gd-numeric" formControlName="DamageAdjustment" spellcheck="false" /></label></li>
        <li formGroupName="PowerLevelScaling"><label class="gd-key"><span>Duration Adjustment: </span><input class="gd-value gd-numeric" formControlName="DurationAdjustment" spellcheck="false" /></label></li>
        <li formGroupName="PowerLevelScaling"><label class="gd-key"><span>Bounce Count Adjustment: </span><input class="gd-value gd-numeric" formControlName="BounceCountAdjustment" spellcheck="false" /></label></li>
        <li formGroupName="PowerLevelScaling"><label class="gd-key"><span>Projectile Count Adjustment: </span><input class="gd-value gd-numeric" formControlName="ProjectileCountAdjustment" spellcheck="false" /></label></li>
        <li formGroupName="PowerLevelScaling"><label class="gd-key"><span>Accuracy Adjustment: </span><input class="gd-value gd-numeric" formControlName="AccuracyAdjustment" spellcheck="false" /></label></li>
        <li formGroupName="PowerLevelScaling"><label class="gd-key"><span>Penetration Adjustment: </span><input class="gd-value gd-numeric" formControlName="PenetrationAdjustment" spellcheck="false" /></label></li>
        <li><label class="gd-key"><span>Attack ID: </span><input class="gd-value gd-string gd-string-long" formControlName="AttackID"/><button type="button" [disabled]="!isIDFieldValid(abilityForm.value.AttackID)" (click)="goToListItemObject($event)">GoTo</button></label></li>
        <li>
          <label class="gd-key"><span>Status Effects IDs: </span></label>
          <div class="status-effect-id-item" *ngFor="let single of abilityForm.value.StatusEffectsIDs; let i = index;">
            <app-list-item-actions (objAlteredSuccessfully)="onObjectListAltered()" (goToListItem)="loadStatusEffect($event)" [parentArray]="abilityForm.value.StatusEffectsIDs" [objectIndex]="i">
            </app-list-item-actions>
            <label>Status Effect Name:<br />
              <select [value]="single.statusEffectIDValue" #thisSelect (change)="onStatusEffectIDChange(thisSelect.value, i)">
                <option *ngFor="let statuseffect of statusEffects" [value]="statuseffect.ID">{{statuseffect.DebugName}}</option>
              </select>
            </label><br/>
            <label>
              Status Effect ID:<br /><span class="gd-value disabled">{{single.statusEffectIDValue}}</span>
            </label>
          </div>
        </li>
      </ul>
  </form>
</div>